{% extends 'base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}Print Job{% endblock %}

{% block navbar-left %}
    {% include "_navbar.html" with active_link="jobs" %}
{% endblock %}

{% block container %}

    <div id="sec1" class="text-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>{% include "_brandname.html" %}</h1>
                    <p class="lead"><strong>Job: {{ job.print_name }}</strong></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% crispy job_form %}
        </div>
    </div>

{% endblock %}
