{% extends 'base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}Jobs{% endblock %}

{% block navbar-left %}
    {% include "_navbar.html" with active_link="jobs" %}
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs/jqc-1.12.4/dt-1.10.13/fh-3.1.2/r-2.1.1/sc-1.4.2/datatables.min.css"/>
{% endblock extrahead %}

{% block container %}

    <div id="cf4a" class="text-page">
        {#        <img class="top-img" src="{% static 'site/img/slides/slide1.png' %}">#}
        {#        <img class="top-mid-img" src="{% static 'site/img/slides/slide2.png' %}">#}
        {#        <img class="bottom-mid-img" src="{% static 'site/img/slides/slide3.png' %}">#}
        {#        <img class="bottom-img" src="{% static 'site/img/slides/slide4.png' %}">#}
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>{% include "_brandname.html" %}</h1>
                    <p class="lead"><strong>Print Jobs</strong></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <br>
        <div class="center-block"><a href="{% url 'app:new_job' %}">
            <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New Job</button>
        </a></div>
        <br>
        {% if not jobs %}
            <div class="row">
                <div class="text-center text-danger text-capitalize">
                    <h3>No Print Jobs submitted</h3>
                </div>
            </div>
        {% else %}
            <div class="table table-responsive">
                <table class="table" id="job_table">
                    <thead>
                    <tr>
                        <th>Submitted on</th>
                        <th>Print Name</th>
                        {% if user.is_staff %}
                            <th>Requested By</th>
                            <th>Waiting for</th>
                        {% endif %}
                        <th>Job Status</th>
                        <th>Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for job in jobs %}
                        <tr>
                            <td>{{ job.datetime_submitted }}</td>
                            <td>{{ job.print_name }}</td>
                            {% if user.is_staff %}
                                <td>{{ job.requester.user.name }}</td>
                                {% if job.datetime_actioned == None %}
                                    <td>{{ job.datetime_submitted|timesince }}</td>
                                {% else %}
                                    <td>{{ job.datetime_actioned|timesince }}</td>
                                {% endif %}
                            {% endif %}
                            <td>{{ job.job_status }}</td>
                            {% if user.is_staff %}
                                <td><a href="{% url 'app:manage_job' print_id=job.print_id %}">Manage</a></td>
                            {% else %}
                            <td><a href="{% url 'app:view_job' print_id=job.print_id %}">View</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>

{% endblock %}
{% block scripts %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs/jqc-1.12.4/dt-1.10.13/fh-3.1.2/r-2.1.1/sc-1.4.2/datatables.min.css"/>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs/jqc-1.12.4/dt-1.10.13/fh-3.1.2/r-2.1.1/sc-1.4.2/datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#job_table').DataTable({
                select: true,
                autowidth: true
            });
        });
    </script>
{% endblock scripts %}
