{% extends 'base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}New Job{% endblock %}

{% block navbar-left %}
    {% include "_navbar.html" %}
{% endblock %}

{% block container %}

    <div id="sec1" class="text-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>{% include "_brandname.html" %}</h1>
                    <p class="lead"><strong>New Print Job</strong></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <br>
        <div class="center-block"><a href="{% url 'app:new_job' %}">
            <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New Job</button>
        </a></div>
        <br>
        {% for job in jobs %}
            <div class="row" onclick="{% url 'app:job' print_id=job.print_id %}">
                <div class="col-lg-4"><strong>{{ job.print_name }}</strong></div>
                <div class="col-lg-4">{{ job.datetime_submitted }}</div>
                <div class="col-lg-4"><strong>{{ job.job_status }}</strong></div>
            </div>
        {% empty %}
            <br>
            <div class="row">
                <div class="text-center text-danger text-capitalize">
                    <h3>No Print Jobs submitted</h3>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
