{% extends 'base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}Print Job{% endblock %}

{% block navbar-left %}
    {% include "_navbar.html" %}
{% endblock %}

{% block container %}

    <div id="sec1" class="text-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>{% include "_brandname.html" %}</h1>
                    <p class="lead"><strong>Job: {{ job.print_name }}</strong></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <br>
            <div class="center-block"><a href="{% url 'app:edit_job' print_id=job.print_id %}">
                <button class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Edit Job</button>
            </a>
            </div>
            <br>
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <ul class="list-group">
                    <li class="list-group-item text-right"><span
                            class="pull-left"><strong>Job Name:</strong></span> {{ job.print_name }}</li>
                    <li class="list-group-item text-right"><span
                            class="pull-left"><strong>Submitted:</strong></span> {{ job.datetime_submitted }}</li>
                    <li class="list-group-item text-right"><span
                            class="pull-left"><strong>Actioned:</strong></span> {{ job.datetime_actioned }}</li>
                    <li class="list-group-item text-right"><span
                            class="pull-left"><strong>Job Status:</strong></span> {{ job.job_status }}</li>
                    <li class="list-group-item text-right"><span
                            class="pull-left"><strong>Notes:</strong></span> {{ job.notes }}</li>
                    <li class="list-group-item text-right"><span
                            class="pull-left"><strong>File:</strong></span> <a href="{{ job.file.url }}">Download</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

{% endblock %}
